OpenGlVisualStudio/.vs
OpenGlVisualStudio/x64
OpenGlVisualStudio/Debug
OpenGlVisualStudio/Release
OpenGlVisualStudio/FirstSteps/Debug
OpenGlVisualStudio/FirstSteps/Release
OpenGlVisualStudio/FirstSteps/x64
